@model Produto

<!-- NOME -->
<div class="form-group">
    <label asp-for="Nome"></label>
    <input asp-for="Nome" class="form-control" />
</div>

<!-- PESO -->
<div class="form-group">
    <label asp-for="Peso"></label>
    <input asp-for="Peso" class="form-control" />
</div>

<!-- QUANTIDADE -->
<div class="form-group">
    <label asp-for="Quantidade"></label>
    <input asp-for="Quantidade" class="form-control" />
</div>

<!-- DATA COMPRA -->
<div class="form-group">
    <label asp-for="DataCompra"></label>
    <input asp-for="DataCompra" class="form-control" />
</div>

<!-- DATA VALIDADE -->
<div class="form-group">
    <label asp-for="DataValidade"></label>
    <input asp-for="DataValidade" class="form-control" />
</div>

<!-- DESCRIÇÃO -->
<div class="form-group">
    <label asp-for="Descricao"></label>
    <input asp-for="Descricao" class="form-control" />
</div>

<!-- VEGANO -->
<div class="form-group">
    <input asp-for="Vegano" />
    <label asp-for="Vegano"></label>
</div>