@{
    ViewData["Title"] = "Cadastro de Produto";
}

<h1> Novo Produto </h1>
<form asp-action="cadastrar">
    <!-- ACESSANDO O FORM CRIADO ATRAVÉAS DO PARTIAL -->
    <partial name="_Form" />
    <!-- BOTÃO DE CADASTRO -->
    <input type="submit" value="Cadastrar" class="btn btn-primary" />
</form>