@model Inventario

<!-- NOME -->
<div class="form-group">
    <label asp-for="Nome"></label>
    <input asp-for="Nome" class="form-control" />
</div>

<!-- PESO -->
<div class="form-group">
    <label asp-for="Descricao"></label>
    <input asp-for="Descricao" class="form-control" />
</div>
